<div class="container">
    <div class="row">
            <h3 class="col-md-4">Hello {{user.firstName}} {{user.lastName}}</h3>
        <a class="col-md-7 margin_top_h3 right" ng-click="logOut()">Log Out</a>
    </div>

    <div class="row">
            <button ng-click="userMedia()">User media</button>
            <button ng-click="allMedia()">All media</button>
    </div>
    <h4>Get started with Video social</h4>


    <div class="row">
        <button ng-upload="onUpload($files, choice)" accept="image/*, video/*,  audio/*" ng-click="uploadFile(choice)">Upload file</button>

    </div>

    <div ng-repeat="media in userMediaFile">
        <div class="elem">
            <div ng-if="media.type === 'jpg' || media.type ==='jpeg' || media.type ==='png'">
                <img class="media_file_info" src="{{appUrl}}/{{media.filename}}">
            </div>
            <div ng-if="media.type === 'mp4' || media.type ==='avi' || media.type ==='webm'">
                <video controls style="border: 1px solid #000">
                    <source type="video/mp4" src={{appUrl}}/{{media.filename}}>
                </video>
            </div>
            <div ng-if="media.type === 'mp3' || media.type === 'wav' || media.type ==='AAC'">
                <audio controls>
                    <source src="{{appUrl}}/{{media.filename}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div>
               <p><button ng-click="addLike(media.id)">Add Like</button> <button ng-click="deleteLike(media.id)">Delete Like</button>{{media.countLike}} Like</p>
                <p ng-if="media.user"><b>Author:</b> {{media.user.firstName}} {{media.user.lastName}}</p>
                <div>
                    <p>Add comments: </p>
                    <input ng-model="media.newComment"> <button ng-click="addNewComments(media)">Add comments</button>
                </div>
                All comments:
                <div ng-repeat="comment in media.comments">
                    <b>Date</b>: {{comment.dateComments}} <b>Text</b>: {{comment.description}}
                </div>

            </div>
        </div>
    </div>
</div>