<div class="container">

    <h2 class="center_text">Welcome to Video resource!</h2>
    <p class="justify">Lorem ipsum dolor sit amet. Reiciendis voluptatibus maiores alias consequatur aut officiis
        debitis aut officiis debitis. Dignissimos ducimus, qui perferendis doloribus asperiores repellat. fugit, sed
        quia. Facere possimus, omnis voluptas nulla vero eos et quasi. Doloribus asperiores repellat. voluptatem quia.
        Culpa, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores. Deserunt mollitia animi, id
        est eligendi optio cumque. Corrupti, quos dolores et dolore magnam aliquam quaerat voluptatem accusantium
        doloremque laudantium.
        Unde omnis dolor repellendus sunt. Voluptates repudiandae sint et accusamus et accusamus et iusto odio.
        Reiciendis voluptatibus maiores alias consequatur aut fugit, sed ut aliquid ex. Alias consequatur aut officiis
        debitis aut fugit. Laborum et quas molestias excepturi sint, obcaecati cupiditate. Impedit, quo minus id quod.
        Voluptate velit esse, quam nihil molestiae consequatur. Eligendi optio, cumque nihil molestiae.
        Expedita distinctio quis nostrum exercitationem ullam corporis suscipit. Illo inventore veritatis et quas
        molestias. Dolores et molestiae non recusandae quis. Consectetur, adipisci velit, sed quia. Et harum quidem
        rerum necessitatibus saepe eveniet. In ea voluptate velit esse quam. Dolorem eum iure reprehenderit, qui
        blanditiis praesentium voluptatum deleniti atque corrupti quos. Tempore, cum soluta nobis est eligendi optio
        cumque. A sapiente delectus, ut et dolore magnam aliquam quaerat voluptatem sequi nesciunt.</p>

    <div class="center_text">
        <button type="button" class="btn btn-default btn-md" ng-click="registration()">Registration</button>
        <button type="button" class="btn btn-default btn-md" ng-click="login()">Login</button>
    </div>

</div>